.full-screen{
    background-image: url("image/design.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    color: aliceblue;
}
.showWeather{
    /* background-color: aliceblue; */
    height: 70%;
}
.main-screen{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
#celcius{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: aliceblue;
    
}
#fahrenheit{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: aliceblue;
}