
.full-screen{
    background-image: url("image/design.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
}
.main-screen{
    
    height: 800px;
    width: 500px;
    background-color: aliceblue;
}